
<h1>Valores</h1>
<p class="textoVista">
    <ul id="ulValores">
        <li><p class="textoValores">Respeto:</p> Reconocemos, aceptamos y apreciamos las cualidades de nuestros semejantes.</li>    
        <li><p class="textoValores">Integridad:</p> Actuamos con rectitud y probidad.</li>
        <li><p class="textoValores">Responsabilidad social:</p> Deseamos que nuestro entorno, personal y sus familiares, crezcan con nosotros.</li>
        <li><p class="textoValores">Confidencialidad:</p> Conocemos y manejamos con discreción la  información de nuestros clientes y trabajadores.</li>
        <li><p class="textoValores">Trabajo en Equipo:</p> Unimos esfuerzos para alcanzar mejores y óptimos resultados.</li>
        <li><p class="textoValores">Compromiso:</p> Ponemos en juego todas nuestras capacidades para sacar adelante todo aquello que se nos ha confiado.</li>
        <li><p class="textoValores">Ética:</p> Realizamos nuestras actividades de manera estable y honrada al servicio de los demás.</li>
    </ul>
    <div style="text-align:center; width:100%;">
<img  class="imagentexto" align="center" src="imagenes/valores.jpg" />
</div>
</p>
<!-- <img src="images/objet.jpg" alt="objetivo" width="249" height="222" id="imagen" align="middle"> -->